  /* ------------------------------------------------------
          Container, typography and color styles
  ------------------------------------------------------*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}



.container-lg {
  max-width: 1024px;
}

main{
  background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

:root{
    --bs-primary: #F06C52;
    --bs-primary-rgb: 240, 108, 82;
    --bs-secondary: #FFFFFF;
    --bs-secondary-rgb: 255, 255, 255;
  }

  .btn-primary{
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
  }

  .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
  }

  /* ----------------------------------------
          active and hover styles
  ---------------------------------------- */

  .btn-outline-primary {
    --bs-btn-color: var(--bs-light);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-dark);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-dark);
  }
  .navbar-brand{
    padding-left:10%;
  }
  .navbar-nav .nav-link{
    color: var(--bs-secondary);
    text-align: center;
    border-bottom: 1px solid white;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus{
    background-color: var(--bs-secondary);
    color: var(--bs-primary);
  }

.about-img {
  max-width: 100%;
}

div .info {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info input {
  height: 40px;
  width: 100%;
}

.info textarea {
  height: 150px;
  width: 100%;
}

  /* ----------------------------------------
          Media Query
  ---------------------------------------- */
  @media screen and (max-width: 390px) {
  .navbar-brand{
    padding-left:15%;
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand{
    padding-left: 2rem;
  }
  
  .navbar-nav{
    display: flex;
    justify-content: space-evenly;
  }

  .navbar-nav .nav-link{
    color: var(--bs-secondary);
    text-align: center;
    border-radius: var(--bs-border-radius-pill)!important;
    border-bottom: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus{
    background-color: var(--bs-secondary);
    color: var(--bs-primary);
    
  }

    /********************************************
          footer menu displays on mobile only
  *********************************************/
  #footermenu .container-lg {
    display: none;
  }

      /********************************************
          displays grid on desktop version
  *********************************************/
.intro .container-lg {
  display: grid;
  grid-template-columns: auto auto;
}
}

@media screen and (min-width: 768px) {
  .about .container-lg {
    max-width: 70%;
    padding-left: 5rem;
    padding-right: 5rem;
  }


}

